@import url('https://fonts.googleapis.com/css2?family=Imprima&family=Poppins:wght@300;400;500;600;700&display=swap');

* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ==== Cores ==== */
    --body-color: #f6f6f9;
    --sidebar-color: #FFF;
    --primary-color: #695CFE;
    --primary-color-light: #F6F5FF;
    --color-danger: #ff7782;
    --color-success: #41f1b6;
    --color-warning: #ffbb55;
    --color-white: #FFF;
    --color-info-dark: #7d8da1;
    --color-info-light: #dce1eb;
    --color-dark: #363949;
    --color-light: rgba(132, 139, 200, 0.18);
    --color-dark-variant: #677483;
    --color-background: #f6f6f9;
    --toggle-color: #DDD;
    --text-color: #707070;
    

    --box-shadow: 0 3px 1rem var(--primary-color);
    --box-shadow2: 0 3px 6px var(--primary-color);

    /* ==== Transição ==== */
    --tran-02: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.4s ease;
    --tran-05: all 0.5s ease;

    /* ==== Espaçamento ==== */
    --card-border-radius: 2rem;
    --border-radius-1: 0.4rem;
    --border-radius-2: 0.8rem;
    --border-radius-3: 1.2rem;
    
    --card-padding: 1.8rem;
    --paddind-1: 1.2rem;

}

html {
    font-size: 14px;
}

h1 {
    font-weight: 800;
    font-size: 1.8rem;
}

h2 {
    font-size: 1.4rem;
}

h3 {
    font-size: 1.29rem;
}

h4 {
    font-size: 1.1rem;
}

h5 {
    font-size: 1rem;
}

small { 
    font-size: 0.9rem;
}

.text-muted {
    color: var(--color-info-dark);
}

p {
    color: var(--color-dark-variant);
}

b {
    color: var(--color-dark);
}

body {
    width: 100vw;
    height: 100vh;
    font-size: 0.88rem;
    background: var(--body-color);
    user-select: none;
    overflow-x: hidden;
    transition: var(--tran-05);
}

body.dark {
    --body-color: #18191A;
    --sidebar-color: #242526;
    --primary-color: #3A3B3C;
    --primary-color-light: #3A3B3C;
    --toggle-color: #FFF;
    --text-color: #CCC;
}

/* ===== CSS Reutilizavel ===== */

.concluido {
    color: var(--color-success) !important;
    font-weight: bold;    
}

.pendente {
    color: var(--color-warning) !important;
    font-weight: bold;
}

.cancelado {
    color: var(--color-danger) !important;
    font-weight: bold;
}

/* ===== SIDEBAR ===== */

.sidebar.close {
    width: 88px;
}

.sidebar.close .text{
    opacity: 0;
    font-size: 0px;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;
}

.sidebar .text {
    font-size: 16px;
    font-weight: 500;
    color: var(--text-color);
    transition: var(--tran-03);
    white-space: nowrap;
    opacity: 1;
}

.sidebar .image {
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar li{
    height: 50px;
    margin-top: 10px;
    list-style: none;
    display: flex;
    align-items: center;
}

.sidebar li .icon{
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 60px;
    font-size: 20px;
}

.sidebar li .icon,
.sidebar li .text{
    color: var(--text-color);
    transition: var(--tran-02);
}

.sidebar header {
    position: relative;
}

.sidebar .image-text img {
    width: 40px;
    border-radius: 6px;
}

.sidebar header .image-text {
    display: flex;
    align-items: center;
}

header .image-text .header-text {
    display: flex;
    flex-direction: column;
}

.header-text .nome {
    font-weight: 600;
}

.header-text .versao {
    margin-top: -2px;
}

.sidebar header .toggle {
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    color: var(--sidebar-color);
    font-size: 22px;
    transition: var(--tran-03);
    cursor: pointer;
}


.sidebar.close header .toggle {
    cursor: pointer;
    transform: translateY(-50%);
}

body.dark .sidebar header .toggle {
    cursor: pointer;
    color: var(--text-color);
}

.sidebar .menu {
    margin-top: 35px;
}

.sidebar .search-box {
    background: var(--primary-color-light);
    border-radius: 6px;
    transition: var(--tran-05);
}

.search-box input {
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 500;
    background: var(--primary-color-light);
    transition: var(--tran-05);
}

body.dark .search-box input {
    color: white;
}

.sidebar li a{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
    border-radius: 6px;
    transition: var(--tran-04);
}

.sidebar li a:hover {
    background: var(--primary-color);
}

.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}

body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

/* Corresponde ao icone selecionado no navbar */

.active {
    background-color: #695CFE;
}

a.active  .icon, 
a.active  .nav-text {
    color: white;
}

.menu-links {
    padding: 0px;
    display: inline;
}

.sidebar .menu-bar {
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.menu-bar .mode {
    position: relative;
    border-radius: 6px;
    background: var(--primary-color-light);
}

.menu-bar .mode .moon-sun {
    height: 50px;
    width: 60px;
    display: flex;
    align-items: center;
}

.menu-bar .mode i {
    position: absolute;
    transition: var(--tran-03);
}

.menu-bar .mode i.sun {
    opacity: 0;
}

body.dark .menu-bar .mode i.sun {
    opacity: 1;
}

body.dark .menu-bar .mode i.moon {
    opacity: 0;
}

.menu-bar .mode .toggle-switch {
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    min-width: 60px;
    cursor: pointer;
    border-radius: 6px;
    background: var(--primary-color-light);
    transition: var(--tran-01);
}

.toggle-switch .switch {
    position: relative;
    height: 22px;
    width: 44px;
    border-radius: 25px;
    background: var(--toggle-color);
}

.switch::before {
    content: '';
    position: absolute;
    height: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    width: 15px;
    background: var(--sidebar-color);
    transition: var(--tran-03);
}

body.dark .switch::before{
    left: 24px;
}

/*================= MAIN =================*/

.home {
    position: relative;
    height: 100vh;
    left: 250px;
    width: calc(100% - 250px);
    padding: 8px 40px;
    background: var(--background-color);
    transition: var(--tran-05);
}

.sidebar.close ~ .home{
    left: 88px;
    width: calc(100% - 88px);
    padding: 8px 40px;
}

.home .text {
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    
}

main .date {
    display: inline-block;
    background: var(--color-light);
    border-radius: var(--border-radius-1);
    margin-top: 1rem;
    padding: 0.5rem 1.3rem;
}

main .date input[type="date"] {
    background: transparent;
    color: var(--text-color);
    border-style: none;
    cursor: text;
    outline: none;
}

main .insights {
    position: relative;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

main .graphic {
    padding: var(--card-padding);
    transition: all 300ms ease;
    box-shadow: var(--box-shadow);
    border-radius: var(--card-border-radius);
    background: white;
    position: relative;
    display: block;
}

main .insights > div:hover {
    box-shadow: none;
}

main .insights > div i {
    background: rgb(161, 160, 233);
    padding: 0.5rem;
    border-radius: 50%;
    color: white;
    font-size: 1.5rem;;
}

body.dark main .insights > div i {
    color: var(--color-dark);
}

main .insights small {
    margin-top: 1.3rem;
    display: block;
}

main .btn-detalhes {
    font-weight: 600;
    background-color: rgb(139, 68, 255);
    color: white;
    border-radius: var(--border-radius-1);
    padding: 5px;
    cursor: pointer;
    border: 0;
}

main .btn-detalhes:hover {
    background-color: #d4d0ff;
    color: #3A3B3C;
    transition: var(--tran-02);
}


/* =============== RECENT ORDERS =============== */
main .recent-orders {
    margin-top: 3rem;
    text-align: center;
}

main .recent-orders h2 {
    margin-bottom: 0.8rem;
    font-weight: bold;
    transition: var(--tran-04);
}

body.dark main .recent-orders h2 {
    color: white;
    transition: var(--tran-04);
}

main .recent-orders table#lastpro {
    background: var(--color-white);
    width: 100%;
    border-radius: 10px;
    padding: var(--card-padding);
    text-align: center;
    box-shadow: var(--box-shadow2);
    transition: all 300ms ease;
}

main .recent-orders table#lastpro:hover {
    box-shadow: none;
}

main table#lastpro tbody td {
    height: 2.8rem;
    border-bottom: 1px solid var(--color-light);
    font-weight: 900px;
}

main table#lastpro tbody tr:last-child td{
    border: none;
}

main .recent-orders a {
    display: inline-flex;
    text-decoration: none;
    margin: 1rem auto;
    color: black;
    font-weight: 440;
    transition: var(--tran-04);
}

body.dark main .recent-orders a {
    color: var(--color-info-light);
    transition: var(--tran-04);
}

/* ==================== MEDIA QUERIES ==================== */
@media screen and (max-width: 1200px) {
    .geral {
        width: 94%;
        grid-template-columns: 7rem auto 23rem;
    }

    main .insights {
        grid-template-columns: 1fr;
        gap: 0;
        
    }

    main .recent-orders {
        width: 94%;
        position: absolute;
    }

    main .recent-orders table {
        width: 83vw;
    }

    main table#lastpro tbody tr td:last-child {
        display: none;
    }
}

/* ==================== MEDIA QUERIES ==================== */
@media screen and (max-width: 768px) {
    .geral {
        width: 100%;
        grid-template-columns: 1fr;
    }

    main {
        margin-top: 8rem;
        padding: 0 1rem;
    }

    main .recent-orders {
        position: relative;
        margin: 3rem 0 0 0;
        width: 100%;
    }

    main .recent-orders table {
        width: 100%;
        margin: 0;
    }
}

/* PROTOCOLOS */

form.form-protocol {
    background-color: #CCC;
    padding: 20px;
    margin-top: 15px;
    border-radius: 5px;
    transition: all 300ms ease;
    box-shadow: var(--box-shadow);
}

form.form-protocol:hover {
    box-shadow: none;
    transition: all 300ms ease;
}

fieldset {
    border: 5px;
}

.campo input, .campo select, .campo button {
    border-radius: 5px;
    border-style: none;
    height: 32px;
    width: 180px;    
}

.campo,
.campo-select {
    margin-bottom: 1em;  
    /* background-color: #41f1b6; */
}

.campo>label,
.campo-select>label {
    margin-bottom: 0.2em;
    display: block;
    font-weight: 600;
}

fieldset.grupo .campo, 
fieldset.grupo .campo-select {
    float: left;
    margin-right: 1em;
    display: block;
}

.campo input[type="text"], 
.campo input[type="number"], 
.campo input[type="month"], 
.campo input[type="date"],
.campo select, 
.campo textarea {
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
    padding-left: 5px;
}

.campo input:focus, .campo select:focus, .campo textarea:focus {
    background: #e0e0e0;
}

.select2-container--default .select2-selection--multiple {
    background-color: #ffffff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 2px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px rgb(0, 0, 0, 0.4);
    /* overflow-y: scroll;   */
    overflow-x: hidden;
    width: auto !important;
}

.selection, .select2-selection, .select2-selection--multiple {
    height: 32px !important;
}

.select2 {
    width: auto !important;
}

.botoes {
    display: flex;
    position: relative;
}

#gravar, #imprimir, #baixar {
    box-shadow: 1px 1px 1px rgb(0, 0, 0, 0.4);
    margin-top: 10px;
    margin-right: 5px;
}

body.dark main #pesquisar input {
    background-color: var(--color-info-light);
    transition: var(--tran-04);
}

body main #pesquisar input {
    padding: 5px;
    background-color: var(--color-light);
    font-weight: 500;
    box-shadow: 1px 1px 4px black;
    border: none;
    outline: none;
}

main nav>div.container-fluid {
    padding: 0px;
}

main nav div form input {
    background-color: var(--color-info-light) !important;
    transition: var(--tran-04);
    
    color: rgba(0, 0, 0, 0.534) !important;
    cursor: text;
}

main nav div form input::placeholder {
    color: rgba(0, 0, 0, 0.534) !important;
    transition: var(--tran-04);
}

body.dark main nav div form input::placeholder {
    color: #ffffff56 !important;
    transition: var(--tran-04);
}

body.dark main nav div form input {
    background-color: var(--bs-body-bg) !important;
    transition: var(--tran-04);
    cursor: text;
    color: #ffffff56 !important;
}

main form.d-flex input::-webkit-calendar-picker-indicator, main form.d-flex input::-webkit-search-cancel-button{
    filter: invert(1) !important;
    cursor: pointer;
    transition: var(--tran-04);
}

body.dark main form.d-flex input::-webkit-calendar-picker-indicator, body.dark main form.d-flex input::-webkit-search-cancel-button{
    filter: invert(0) !important;
    cursor: pointer;
    transition: var(--tran-04);
}

    /* --------------- TABELA PROTOCOLOS --------------- */

div.table-responsive {
    border: 1px solid gray;
    padding: 8px;
    border-radius: 5px;
    overflow: hidden;
    align-items: center;
}

body div main div table.table {
   margin: 0;
   border: 1px solid white;
   text-align: center;
   justify-self: center;
}

#table {
    border-radius: 5px;
    width: 100%;
    height: 100%;
}

body table#table, body table#table tr th, body table#table tr td  {
    border-color: rgba(0, 0, 0, 0.644);
    color: black;
}

body.dark table#table, body.dark table#table tr th, body.dark table#table tr td  {
    color: white;
    border-color: rgba(255, 255, 255, 0.644);
    transition: var(--tran-03);
}

    /* ----------------- FILTRO ----------------- */

body div main nav div form div {
    display: flex; 
    border-radius: 5px; 
    align-items: center; 
    padding: 5px;
}

i.filter-toggle {
    color: #535353;
    cursor: pointer;
}

i.filter-toggle:hover {
    color: #787878;
    transition: var(--tran-03);
}

div.filters.close-filter i.filter-toggle {
    transform: translateY(-50%);
    transition: var(--tran-03);
}

div.filters i.filter-toggle {
    transform: translateY(-50%) rotate(180deg);
    transition: var(--tran-03);
}

.filters.close-filter {
    position: relative;
    width: 645px;
    height: 43.5px;
    background-color: transparent;
    z-index: 0;
    transition: var(--tran-05);
    outline: 0;
}

.close-filter div.menu-list, .close-filter h3, .close-filter ul, .close-filter li {
    opacity: 0;
    font-size: 0;
    transition: var(--tran-02);
}

.filters {
    position: relative;
    width: 645px;
    height: auto;
    background: var(--body-color);
    transition: var(--tran-05);
    z-index: 0;
    outline: 1px solid #3A3B3C;
    border-radius: 5px;
    padding: 5px;
}

nav div h3 {
    /* border: 1px solid red; */
    justify-content: center;  
    color: black;
    text-align: center;
    margin: 15px 0 0 0;
    padding: 0;
    outline: 1px solid #3A3B3C;
    transition: var(--tran-02);
}

body.dark nav div h3 {
    color: white;
}

div.menu-list {
    height: auto;
    transition: var(--tran-02);
}

div.caixa {
    /* border: 1px solid yellow; */
    display: flex;
    justify-content: center;
}

ul.topico {
    /* border: 1px solid red; */
    text-align: center;
    margin: 0 0 0 5px;
    padding: 10px;
}

div.caixa p  {
    /* border: 1px solid red; */
    font-size: 14px;
    color: var(--color-dark);
}

.form-check-input {
    --bs-form-check-bg: none;
}

body.dark div.caixa p  {
    color: var(--color-info-light);
}

li.list {
    text-align: start;
    /* border: 1px solid red; */
    color: var(--text-color);
    list-style: none;
}

div.menu-list p.footer {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
}

/* -------- SERVIÇO -------- */
